body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 5vh;
    background-color: #F2D3A4;
}

#fonter {
    display: flex;
    flex-direction: column;
}

#fonter button {
    margin: 0.4vh;
    background-color: transparent;
    border: transparent;
}

#audio img {
    width: 1vw;
    height: 1vh;
}

.fa-solid {
    height: 0.6vh;
}

#fonter button:hover {
    background-color: black;
    color: white;
}

#naver {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8vh;
    width: 100%;
    background-color: #D29757;
}

#cont {
    background-color: bisque;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    padding: 20px;
    box-sizing: border-box;
}

#body {
    width: 100%;
    word-wrap: break-word;
    white-space: normal;
}