/* Base styles */
body {
    font-family: 'Noto Sans Devanagari', sans-serif;
    font-size: 1rem; /* Base font size */
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars */
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #F1D2A3;
}

/* Header styles */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 8%; /* Set header height to 8% */
    padding: 10px;
    background-color: #D39758;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0; /* Ensure no gap */
}

#prayerHeading {
    font-size: calc(8vh - 20px); /* Dynamically adjust font size based on container height */
    font-weight: bold;
    color: #333;
    flex-grow: 1;
    text-align: center;
}

.font-buttons {
    display: flex;
    gap: 10px;
}

.font-buttons button {
    font-size: 1rem;
    padding: 5px 10px;
    cursor: pointer;
    border-color:transparent;
    background: transparent;
    color: #f35b41;
    border-radius: 4px;
}

.font-buttons button:hover {
    background: transparent;
    color:  rgb(255, 255, 255);
}

.option-button {
    background: none;
    border: none;
    font-size: 2.5rem;
    cursor: pointer;
    margin-right: 2rem; /* Move the option button a bit to the right */
}

.option-dropdown {
    display: none;
    position: absolute;
    width: 10rem;
    font-size: larger;
    right: 10px;
    top: calc(8% + 10px); /* Adjust position based on new header height */
    background: #F1D2A3;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px #f35b41;
    z-index: 1000;
    padding: 5px;
}

.option-dropdown.active {
    display: block;
}

.option-dropdown .dropdown-item {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: none;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
}

.option-dropdown .dropdown-item:hover {
    background:#F1D2A3;
}

/* Container styles */
.container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92%; /* Set container height to 92% */
    padding: 20px;
    box-sizing: border-box;
    overflow: auto; /* Enable overflow scrolling */
}

.verse {
    font-size: 60vh; /* Font size based on 60% of viewport height */
    text-align: center;
    max-width: 800px;
    background-color: #F1D2A3;
    padding: 20px;
    box-shadow: none;
    
}

.dropdown-item {
    padding: 10px;
    cursor: pointer;
    font-size: 2rem;
    background: #D39758;
    border: #f35b41;
}

.dropdown-item:hover {
    background: #D39758;
    border: #f35b41;
}

/* Extra styles for visual feedback */
#prayerHeading.active {
    color: #D39758;
}

.option-dropdown.active .dropdown-item {
    font-weight: bold;
}
